{{- if .Site.Params.widgets.links }}
<div class="widget-social widget">
	<h4 class="widget-social__title widget__title">Links</h4>
		{{ range .Site.Params.widgets.links.custom }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="{{ .title }}" href="{{ .url }}">
				{{- if .icon }}
					{{ partial .icon (dict "class" "widget-social__link-icon") }}
				{{- end }}
				<span>{{ .title }}</span>
			</a>
		</div>
		{{ end }}
	</div>
	<h4 class="widget-social__title widget__title">QR CODE</h4>
		<div class="widget-social__item widget__item u-text-center">
			<a href="{{ .Site.BaseURL}}">
				<img
					srcset="{{ .Site.BaseURL}}img/qrcode.png 1x,
							{{ .Site.BaseURL}}img/qrcode@2x.png 2x" 
					src="{{ .Site.BaseURL}}img/qrcode.png" 
					alt="QR Code"
					width="128"
					height="128"
				>
			</a>
		</div>
	</div>
</div>
{{- end }}