body {
    font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
}

body,
h1, h2, h3, h4, h5, h6,
.logo__title{
    color: #333;
}
.toc__title,
.btn{
    background-color: #333;
}


.post .list__header a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.post .list__header .list__thumbnail{
    max-width: none;
    margin: auto auto auto .5rem ;
}

_:-ms-lang(x)::-ms-backdrop, .post .list__header .list__thumbnail img,
_:-ms-lang(x)::-ms-backdrop, .post .post__thumbnail img{
  width: auto;
}

.post .post__content{
    margin: .5rem auto;
}
@media screen and (min-width: 767px) {
    .post .post__content{
        margin: .75rem auto;
    }
}

.post .list__footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.post .list__footer .list__footer-readmore{
    margin: 0 0 0 auto;
}

.post__content h2{
    margin-top: 3.75rem;
}
.post__content h3{
    margin-top: 2.5rem;
}
.post__content h4{
    margin-top: 1.875rem;
}

.post__content ol li,
.post__content ul li{
    margin-bottom: 0.625rem;
}
.post__content ol p,
.post__content ul p{
    margin-bottom: 0;
}
.post__content li li{
    margin-bottom: 0;
}

.u-text-center{
    text-align: center;
}


@media print {
    .logo__img,
    .post__thumbnail,
    .widget-search__form,
    .authorbox__avatar{
        display: none;
    }
    .wrapper.flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    a.list__footer-readmore[href]::after,
    .content a[href]::after,
    .widget-social__item a[href]::after,
    .widget-social__content a[href]::after {
        content: " ( " attr(href) " )";
    }
    .list__footer-readmore,
    .toc__title,
    .tags__item,
    .widget-taglist__link,
    .widget-social__link,
    svg,
    .highlight pre{
        color: #333 !important;
        fill: #333 !important;
        background-color: #fff !important;
        /* filter: invert(1) hue-rotate(180deg) !important; */
    }
}