<article class="list__item post">
	<header class="list__header">
		<a href="{{ .RelPermalink }}" rel="bookmark">
			<h3 class="list__title post__title ">
				{{ .Title }}
			</h3>
			{{- if .Params.thumbnail }}
			<figure class="list__thumbnail">
				<img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}" />
			</figure>
			{{- end }}
		</a>
	</header>
	<div class="content list__excerpt post__content clearfix">
		{{ .Summary }}
	</div>
	{{- if .Site.Params.readmore }}
	{{- if .Truncated }}
	<div class="list__footer clearfix">
		{{ with partial "post_meta.html" . -}}
		<div class="list__footer-meta">
		{{ . }}
		</div>
		{{- end }}
		<a class="list__footer-readmore btn" href="{{ .RelPermalink }}">{{ T "read_more" }}</a>
	</div>
	{{- end }}
	{{- end }}
</article>